.projects {   
    display: flex;  /*Only affect children inside parent div */
    flex-direction: column; /* stack the two cards */ 
    align-items: center; /*center every element inside div */
    gap: 300px;  /*Space between elements in this case children div */
}

.card { 
    position: relative;  
    background-color: rgba(128, 128, 128, 0.34); 
    border-radius: 40px; 
    width: 90%;  
    max-width: 760px; 
    height: 500px;  
    transition: box-shadow 0.4s ease, transform 0.4s ease; 
    /* light glow */ 
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.699);
    top: 100px;
} 

.card .header { 
    text-align: center;
}

.card:hover {
  box-shadow: 0 0 40px rgba(128, 128, 128, 0.666);
  transform: scale(1); /*expands when u hover when > 1 and contarct when < 1 */
}

.card1 {   
    position: relative;  
    background-color:  rgba(128, 128, 128, 0.34); 
    border-radius: 40px; 
    width: 90%;  
    max-width: 750px; 
    height: 500px; 

    transition: box-shadow 0.4s ease, transform 0.4s ease; 
    
    /* subtle glow */ 
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.699);
}

.card1:hover {
  box-shadow: 0 0 40px rgba(128, 128, 128, 0.666);
  transform: scale(1); /*expands when u hover when > 1 and contarct when < 1 */
}

.header, .store {  
    font-family: 'Anton', sans-serif; 
    position: relative;   
    font-size: 60px;   
    color: white;

    /* Makes text appear wider/thicker */
    -webkit-text-stroke: 5.5px;
}

.card1 .store { 
    text-align: center;
}

.stream { 
    color: white; 
}

.demo { 
    font-size: 30px;
}